{% extends 'student_dashboard.html' %}
{% block body %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                    <div class="col-lg-12 col-sm-16">
							<h3 class="h3 text-center">CHANGE PASSWORD</h3>  
                            </div>
                            <div class="card-body">
                                <center><img src="static/authentication_cp.png" alt="auth_cp" width="50%"></center><br>
							    <form action="/changepassword" method="POST" class="mt-4">
                                    <div class="mb-3">
                                        <label for="exampleInputIcon3">OLD PASSWORD</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                            </div>
                                            <input name="oldpassword" type="password" class="form-control" placeholder="Old password" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword6">NEW PASSWORD</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                                </div>
                                                <input name="newpassword" type="password" class="form-control" id="exampleInputPassword6" placeholder="New Password" type="New password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">Change Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}