{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
               <div class="container">
                       <div class="col-12 d-flex align-items-center justify-content-center">
                           <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-650">
                               <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">RESET PASSWORD</h1>  
                            </div>
                            <div class="card-body">
							    <form action="" method="POST" class="mt-4">
                                    <div class="form-group">
                                        <label for="exampleInputIcon3">NEW PASSWORD</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                            </div>
                                            <input name="npwd" type="password" class="form-control" id="exampleInputIcon3" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="exampleInputPassword6">RE-ENTER PASSWORD</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                                </div>
                                                <input name="cpwd" type="password" class="form-control" id="exampleInputPassword6" placeholder="Password" aria-label="Password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock %}