{% extends 'professor_dashboard.html' %}
{% block body %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                    <div class="col-lg-12 col-sm-16">
							<h3 class="h3 text-center">REPORT PROBLEMS</h3>  
                            </div>
                            <img src="{{ url_for('static', filename='report_bug.png') }}">
                            <div class="card-body">
							    <form action="/report_professor_email" method="POST" class="mt-4">
                                    <div class="form-group">
                                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose Problem Category</label>
                                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="prob_type" required>
                                            <option value="Login/Register/Face Verification">Login/Register/Face Verification</option>
                                            <option value="Exam/Create/View/Update/Delete">Exam/Create/View/Update/Delete</option>
                                            <option value="Student Monitoring">Student Monitoring</option>
                                            <option value="Insert Marks/Publish Results">Insert Marks/Publish Results</option>
                                            <option value="Payment">Payment</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>  
                                    <div class="form-group">
                                        <label class="h6" for="exampleFormControlTextarea1">Your message</label>
                                        <textarea name="rquery" class="form-control" placeholder="How can we help? Any Problem/Suggestion" rows="4" required></textarea>
                                    </div>
  <input type="submit" class="btn btn-primary" value="REPORT!">
    </form>
  </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
{% endblock %}