{% extends 'professor_dashboard.html' %}
{% block body %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                    {% if(cresults is not none) %}
    <div class="col-lg-12 col-sm-16">
        <h3 class="h3 text-center">STUDENT RESULTS</h3>  
      </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                                <th class="border-0" scope="col" >Test ID</th>
                                <th class="border-0" scope="col" >Subject</th>
                                <th class="border-0" scope="col" >Topic</th>
								<th class="border-0" scope="col" >Result</th>
                            </tr>
							 <tbody>
            {% for test in tests %}
                            <tr>
								<td>{{test['test_id']}}</td>
								<td>{{test['subject']}}</td>
								<td>{{test['topic']}}</td>
								<td><a class="btn btn-primary" href="/{{session.email}}/tests-created/{{test['test_id']}}">View Result</a></td>
                             </tr>
            {% endfor %}
                                  </tbody>
                        </table>
                    </div>
                </div>
</div>
{% else %}
<div class="col-lg-12 col-sm-16">
    <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
    <h3 class="h3 text-center">
        No Records Found!
    </h3>  
  </div>
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}