{% extends 'professor_dashboard.html' %}
{% block body %}
{% if (callresults != none and callresults) %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                    <div class="col-lg-12 col-sm-16">
                        <h3 class="h3 text-center">UPDATE QUESTIONS</h3>  
                    </div>
{% for res in callresults%}    
<div class="table-responsive">
<table class="table table-bordered table-nowrap mb-0 rounded" id="ts">
 <tbody>
            <tr>
                    <td class="border-0" scope="row">Q {{res['qid']}}: {{res['q']}}</td>
            </tr>
            <tr>
                    <td class="border-0" scope="row">MARKS: {{res['marks']}}</td>
            </tr>
            <tr>
                    <td class="border-0" scope="row" colspan="2"><a href="/updateLQA/{{res['test_id']}}/{{res['qid']}}" class="btn btn-primary">UPDATE</a></td>
            </tr>
        </tbody>
</table>
</div>
{% endfor %}
    </div>
    </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-12 col-sm-16">
    <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
    <h3 class="h3 text-center">
        No Records Found!
    </h3>  
  </div>
{% endif %}
{% endblock %}