{% extends 'professor_dashboard.html' %}
{% block body %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                    {% if cresults is not none %}
                    <div class="col-lg-12 col-sm-16">
                      <h3 class="h3 text-center">VIEW QUESTIONS</h3>  
                    </div>
                    <form action="displayquestions" method="POST" class="mt-4">
                        <div class="form-group">
                            <label class="my-1 mr-2" for="livebox">Choose Exam ID:</label>
                            <div class="input-group mb-4">
                                <select class="custom-select my-1 mr-sm-2"  name="choosetid" required>
                                {% for test in cresults %}
                                <option value={{test['test_id']}}>{{test['test_id']}}</option>
                                {% endfor %}
                                </select>
                                </div>
                            <input type="submit" class="btn btn-block btn-primary" value="VIEW QUESTIONS"/>
                            </div>
                            {% else %}        
                            <div class="col-lg-12 col-sm-16">
                                <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
                                <h3 class="h3 text-center">
                                    No Records Found!
                                </h3>                              
                              </div>
                            {% endif %}
                            </div>
                </div>
                            </div>
        </div>
    </div>    
{% endblock %}